# Functions

Function (fungsi) dalam matematika adalah relasi antara suatu elemen X di himpunan A terhadap pasangannya suatu elemen Y di himpunan B. Misal X berelasi dengan Y dengan fungsi:
$$ f(x) = y  $$
Contoh: X memiliki relasi dengan Y, melalui fungsi Y = 2X atau $f(x) = 2x$

- untuk x = 1 => $y = f(1) = 2 * 1 = 2$
- untuk x = 9 => $y = f(9) = 2 * 9 = 18$

Dalam programming, function adalah blok kode yang bekerja hanya saat dipanggil saja.

```python
def namaFunction():
    # do something...

namaFunction()
```

In [25]:
# function hello
def hello():
    print("Hello world!")

In [26]:
hello()

Hello world!

## Argument

Value yang disisipkan ke dalam function untuk diolah

In [27]:
def hello(nama):
    print("Hello " + nama)

In [28]:
hello("Lintang")
hello("Andi")
hello("Budi")

Hello Lintang
Hello Andi
Hello Budi

In [29]:
def f(x):
    print(2*x)

In [30]:
f(1)
f(9)

2
18

$$ f(x) = 2x^2 + 3x - 1 $$
$$ f(1) = 2(1)^2 + 3(1) - 1 = 4 $$
$$ f(9) = 2(9)^2 + 3(9) - 1 = 162 + 27 - 1 = 188 $$

In [37]:
def f(x):
    print(2 * (x ** 2) + 3 * x - 1)

In [39]:
f(1)
f(9)

4
188

$$ z = f(x, y) = x + y $$
- Untuk x = 1 & y = 2 $ f(x, y) = 1 + 2 = 3 $
- Untuk x = 9 & y = 8 $ f(x, y) = 9 + 8 = 17 $

In [40]:
# func with multiple arg
def z(x, y):
    print(x + y)

In [41]:
z(1, 2)
z(9, 8)

3
17

In [42]:
def z(x, y, z):
    print(x, y, z)

In [43]:
z("Andi", "Budi", "Caca")

Andi Budi Caca

In [48]:
def hello(nama, usia, kota):
    # print("Hello " + nama + " usiamu " + usia + " th asal " + kota)
    print(f"Hello {nama} usiamu {usia} th asal {kota}")

In [49]:
hello("Lintang", 21, "Solo")

Hello Lintang usiamu 21 th asal Solo

In [52]:
# default value arg
def f(x):
    print(x)

In [53]:
# apa yg terjadi saat saya call f(x) tanpa mendefinisikan x?
f()

TypeError: f() missing 1 required positional argument: 'x'

In [54]:
f(2)

2

In [63]:
# default value arg
def f(x):
    print(x)

In [67]:
# default value arg
def f(x=15):
    print(x)

In [70]:
f(12) # x = 12
f()   # x = default value = 15

12
15

In [71]:
# default value arg
def f(x=15, y=20, z=25):
    print(x, y, z)

In [74]:
f(12, 8, 75) # x = 12, y = 8, z = 75
f()   # x, y, z = default value = 15, 20, 25
f(245) # x = 245. y & z = default = 20 & 25

12 8 75
15 20 25
245 20 25

$$ mean = \frac{\sum N}{n} $$

Misal list `x = [1, 2, 3, 4, 5]` maka rata-rata list $x = \frac{1+2+3+4+5}{5} = 3$

In [82]:
# function mencari nilai rata2 dari suatu list
def mean(data):  # type(data) = list
    total = 0
    jumlah = len(data)
    for e in data:
        total = total + e
    print(total / jumlah)

In [83]:
mean([1,2,3,4,5])

3.0

- e = 1 => total = total + e = 0 + 1 = 1
- e = 2 => total = total + e = 1 + 2 = 3
- e = 3 => total = total + e = 3 + 3 = 6
- e = 4 => total = total + e = 6 + 4 = 10
- e = 5 => total = total + e = 10 + 5 = 15

## Keyword Argument (kwargs)

In [84]:
def f(x):
    print(x)

In [85]:
f(28)
f("Andi")
# call func with kwargs
f(x=99)
f(x="Budi")

28
Andi
99
Budi

In [86]:
f(y=10) # err: fungsi f tdk punya arg y

TypeError: f() got an unexpected keyword argument 'y'

In [92]:
def f(x=5, y=5, z=5):
    print(x, y, z)

In [93]:
f(1,2,3)
f(x=1, y=2, z=3)
f(z=1, y=2, x=3)
f(z=10)

1 2 3
1 2 3
3 2 1
5 5 10

## Arbitrary Argument (*args)

In [96]:
# func yg didefinisikan blm tahu pasti brp arg yg akan disisipkan
# func didesain utk handle multiple arg as TUPLE
def f(*x):
    print(x, type(x))

In [99]:
f(2)
f(1, 2, 3, 4, 5)
f(1, 2, [3, 4, 5]) # arg 1 = 1, arg 2 = 2, arg 3 = [3, 4, 5]

(2,) <class 'tuple'>
(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, [3, 4, 5]) <class 'tuple'>

In [100]:
def f(*x):
    for i in x:
        print(i)

In [103]:
f(2, 3, [5, 7, 9])

2
3
[5, 7, 9]

In [104]:
f("Andi", "Budi", "Caca")

Andi
Budi
Caca

In [107]:
def f(*x):
    print(x[0])
    print(x[1])
    print(x[2])

In [108]:
f("Andi", "Budi", "Caca")

Andi
Budi
Caca

## Keyword Arbitrary Argument (**kwargs)

In [119]:
# func blm tahu pasti brp Kwargs yg dapat dihandle func
# **kwargs akan dihandle func as DICTIONARY
def f(**x):
    print(x, type(x))
    print(x["nama"])
    print(x["usia"])

In [121]:
f(nama="Andi", usia=24)

{'nama': 'Andi', 'usia': 24} <class 'dict'>
Andi
24

In [116]:
x = {'nama': "Andi", "usia": 23}
print(x["nama"])
print(x['usia'])

Andi
23

In [124]:
f("nama"="Andi", "usia"=24)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (675601908.py, line 1)

In [127]:
"x" = 'Andi' 
# antara 2 value tdk boleh ada assignment operator
# yg boleh misalnya: operator perbandingan > < == !=

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4075747620.py, line 1)

In [128]:
"x" == 'Andi'

False

## Return Function

Function yang memiliki return alias nilai keluaran tertentu.

In [130]:
x = 12
x

12

In [135]:
# function tanpa return tidak memiliki value
def f(x):
    # nothing
    pass

In [139]:
f(2)
f(1000000)
f("Andi")
f(True)

In [148]:
# return function
def f(x):
    return x

In [149]:
f(x=2) + f(2)

4

In [150]:
type(f(89))

int

In [151]:
# print function
def z(x):
    print(x)

z(x=2) + z(2)

In [153]:
type(z(89))

89

NoneType

In [155]:
def A(x):
    return x
def B(y):
    print(y)

In [156]:
B(y=A(x=12))

12

## Lambda

small anonymous return function

In [160]:
def f(x):
    return x
y = f(10)

In [161]:
y

10

In [163]:
y = lambda x : x
# y adalah lambda (return function) dg arg x returnnya : x
y(10)

10

In [164]:
y = lambda x : x + 2
# y adalah lambda (return function) dg arg x returnnya : x+2
y(10)

12

In [165]:
y = lambda x, y : x * y
# y adalah lambda (return function) dg arg x, y returnnya : x*y
y(10, 12)

120

In [167]:
y = lambda x, y, z : x * y * z
# y adalah lambda (return function) dg arg x, y returnnya : x*y
y(10, 12, 2)

240

In [168]:
y(z=2, x=4, y=10) # lambda kwarg

80

In [169]:
y = lambda *x : x
# y adalah lambda (return function) dg arg *x returnnya : x
y("Andi")

('Andi',)

In [170]:
y("Andi", "Budi", "Caca")

('Andi', 'Budi', 'Caca')

In [172]:
# lambda tanpa arg
y = lambda : "Andi"
y()

'Andi'